.title-list-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}

.title-list-container .card {
  text-align: center;
  padding: 10px;
  border: 1px solid #008cba;
}

.title-list-container > div {
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}
